<!DOCTYPE html>
<html lang="en" ng-app="scoreboard">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <title>~_~</title>
    <link href="libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/application.min.css" rel="stylesheet">
</head>
<body>

<div ng-controller="Football as vm">

    <div class="row">
        <div class="col-md-6 border">

            <select ng-model="vm.team" ng-options="team.name for team in vm.teamList" class="form-control selectWidth">
                <option value="">-- Виберіть команду --</option>
            </select>

            <div ng-if="vm.team">
                <h3>{{vm.team.name}}</h3>
                <img ng-src="http://footballbet.com.ua/teams/embl/{{vm.team.emblema}}"/>
                <p>Рік заснування:{{vm.team.foundation_year}}</p>
                <p>Власник команди: {{vm.team.president}}</p>
                <p>Тренер:{{vm.team.coach}}</p>
                <p>Домашній стадіон: {{vm.team.home_stadion}}</p>
                <p>Офіційний сайт: <a>{{vm.team.off_site}}</a></p>
                <p>Місто: {{vm.team.city}}</p>
                <h3>Нагороди:</h3>
                <p ng-bind-html="vm.trustAsHtml(vm.team.title)"></p>
            </div>

        </div>

        <div class="col-md-6 border">

            <select ng-model="vm.championship" ng-change="vm.loadTeams()"
                    ng-options="championship.name for championship in vm.champList" class="form-control selectWidth">
                <option value="">-- Виберіть чемпіонат --</option>
            </select>

            <div ng-if="vm.championship">
                <p>{{vm.championship.name}}</p>
                <img ng-src="http://footballbet.com.ua/table/embl/{{vm.championship.image}}"/>
                <br>
                <ul>
                    <li ng-repeat="team in vm.champTeamTable">
                        <img ng-src="http://footballbet.com.ua/teams/embl/{{team.emblema}}" class="smallImg"/>
                        <a ng-click="team.showDetails = !team.showDetails">{{team.name}}</a>
                        <div ng-show="team.showDetails">
                            <p>Рік заснування: {{team.foundation_year}}</p>
                            <p>Власник команди: {{team.president}}</p>
                            <p>Тренер: {{team.coach}}</p>
                            <p>Офіційний сайт: <a>{{team.off_site}}</a></p>
                            <p>Місто: {{team.city}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script src="libraries/angular/angular.min.js"></script>
<script src="libraries/jquery/dist/jquery.min.js"></script>
<script src="libraries/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="libraries/lodash/lodash.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>